/* 
Styles para tab By @plusgio www.plusweb.cl*/

ul.tabs {
	margin: 0 0 0 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 21px;
/*	border-bottom: 1px solid #999; */
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0 0 0 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	text-align: center;
}
ul.tabs li a {
/*	border: 1px solid #fff; */
	background: url(images/bg-uitabs.png) no-repeat left center;
	border-bottom: 1px solid #c8c8c8;
	border-right: 1px solid #d5d5d5;
	color: #949494;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	height: 27px;
	margin: 8px 0 0 0;
	outline: none;
	padding: 9px 0 0 0;
	text-decoration: none;
	width: 237px;
}

ul.tabs li a:hover {
	color: #168212;
}
html ul.tabs li .active {
	background: white;
	border: 0;
	border-right: 1px solid #d5d5d5;
	color: #168212;
	height: 35px;
	margin: 0 0;
	padding: 9px 0 0 0;
	width: 235px;
}


.tab_container {
	background: white;
	float: left;
	border-top: none;
	clear: both;
	float: left;
	margin: 23px 0 0 0;
	list-style: none;
	overflow: hidden;
	height: 211px;
	width: 100%;
}
.tab_content{
	height: 207px;
	margin: 0;
	list-style: none;
	padding: 15px 13px 0 13px;
	font-size: 1.2em;
}

	.tab_content .BlockLinks{
		font-size: 11px;
		margin: 0 0;
		text-align: center;
	}
	
		.tab_content .BlockLinks a{
			color: #ff8c4a;
			line-height: 13px;
			padding: 0 1px 0 2px;
			text-decoration: none;
		}
		
			.tab_content .BlockLinks a:hover{
				color: #fb6f1f;
			}
		
		.tab_content .BlockLinks a:hover{
			text-decoration: underline;
		}
		
/*
----TABS PRODUCTO */

.tabsProducto .tabs{
	margin: 0 0 -23px 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 24px;
	border-bottom: 1px solid #d5d5d5;
	width: 679px;
	}

.tabsProducto .tabs li {
	float: left;
	margin: 0 0 0 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	text-align: center;
}
.tabsProducto ul.tabs li a {
/*	border: 1px solid #fff; */
	background: url(images/bg-tabsProducto.jpg) repeat-x;
	border: 1px solid #d5d5d5;
	border-bottom: 0px;
	border-top-right-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px;
	border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px;
	color: #949494;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 600;
	height: 20px;
	margin: 0 0;
	outline: none;
	margin: 0 5px 0 3px;
	padding: 3px 0 0 0;
	text-decoration: none;
	width: 130px;
}

.tabsProducto ul.tabs li a:hover {
	color: #999;
	background: white url(images/bg-tabsProducto_hover.jpg) repeat-x center top;
}
.tabsProducto ul.tabs li a.active {
	background: white url(images/bg-tabsProducto_active.jpg) repeat-x center top;
	
	border-bottom: 1px solid white; -moz-border-bottom: 1px solid white; -webkit-border-bottom: 1px solid white;
	border-top-right-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px;
	border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px;
	
	border-right: 1px solid #d5d5d5;
	color: #3c3c3c;
	height: 20px;
	margin: 0 5px 0 3px;
	padding: 3px 0 0 0;
	width: 130px;
}


.tabsProducto .tab_container {
	float: left;
	border-top: none;
	clear: both;
	height: 100%;
	float: left;
	margin: 23px 0 0 0;
	list-style: none;
	width: 100%;
}

.tabsProducto .tab_content{
	list-style: none;
	padding: 20px 10px 0;
	min-height: 388px;
	height: auto;
	font-size: 12px;
	width: 657px;
	border-left: 1px solid #D5D5D5;
	border-right: 1px solid #D5D5D5;
	border-bottom: 1px solid #D5D5D5; -moz-border-bottom: 1px solid #D5D5D5; -webkit-border-bottom: 1px solid #D5D5D5;
border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px;	
	}
      
      .tabsProducto .tab_content h3{
        font-size: 20px;
        margin: 0 0 5px;
      }
      
      .tabsProducto .tab_content p{
        line-height: 20px;
        margin: 5px 0 15px;
      }
      
      .tabsProducto .tab_content ul{
        margin: 0 0;
        padding: 0 20px 0;
        line-height: 20px;
        font-size: 13px;        
      }
      
      .tabsProducto .tab_content ul li{
        list-style: square;
        margin: 0 0 5px;
        color: #4a4a4a; text-align: justify;
      }

	.tabsProducto .tab_content .BlockLinks{
		font-size: 11px;
		margin: 0 0;
		text-align: center;
	}
	
		.tabsProducto .tab_content .BlockLinks a{
			color: #ff8c4a;
			line-height: 13px;
			padding: 0 1px 0 2px;
			text-decoration: none;
		}
		
			.tabsProducto .tab_content .BlockLinks a:hover{
				color: #fb6f1f;
			}
		
		.tabsProducto .tab_content .BlockLinks a:hover{
			text-decoration: underline;
		}